body{
  margin: 0;
  padding: 0;
}

#front_index_container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#front_reponse_container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;
}

.question{
  width: 70%;
  margin: auto;
  height: 150px;
  padding: 2%;
  background: aliceblue;
}

.libelle_question{
  font-size: larger;
  display: block;
}

#logo{
  width: 100%;
}

#left_side{
  background-color: #a8dadc;
  position: fixed;
  width: 15%;
  height: 100%;
  padding-top: 5%;
}

#right_side{
  position: absolute;
  left: 16%;
  width: 85%;
}

#left_side ul li{
  list-style: none;
  font-size: x-large;
  margin-left: 6%;
  padding: 3% 0%;
}

li a{
  color: grey;
  font-size: 1.1em;
}


li a:hover{
  text-decoration: none;
  color: white;
}

ul{
  padding-inline-start: 0px !important;
  margin-top: 20px;
}

.small{
  margin-bottom: 30px;
  width: 98%;
}

.question_numder{
  width: 10%;
}


.question_answer{
  width: 30%;
}

.badge-light{
  position: absolute;
  text-align: center;
  width: 70%;
  left: 15%;
  bottom: 10px;
  padding: 5%;
  border-radius: 10px;
}

#myChart1{
  display: block;
  height: 350px !important;
  width: 696px !important;
}

#myChart2{
  display: block;
  height: 350px !important;
  width: 696px !important;
}

#myChart3{
  display: block;
  height: 350px !important;
  width: 696px !important;
}

#graphics{
  display: flex;
  flex-wrap: wrap;
}

.graphic{
  width: 50%;
  margin-bottom: 30px;
}

#login{
  padding: 15%;
}

.btn-primary{
  width: 100%
}

.form-control{
  margin: auto;
  width: 93%;
}

.col-md-8{
  max-width: 100% !important;
}

.container{
  margin-top: 5%;
}

.card-header {
  padding: .75rem 1.25rem !important;
  margin-bottom: 0 !important;
  background-color: #a8dadc !important;
  border-bottom: none !important;
}